---
layout: layouts/base.njk
---
{% include "sections/header.njk" %}
<main>
  {% include "sections/hero.njk" %}
  {% include "sections/brief.njk" %}
  {% include "sections/experience.njk" %}
  {% include "sections/skills.njk" %}
  {% include "sections/education.njk" %}
  {% include "sections/contact.njk" %}
</main>
